.geolocation-message {
  background-color: white;
  width: 558px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  font-size: 12px;
  font-family: "Montserrat";
  font-style: italic;
  font-weight: 400;
  padding: 16px;
  background-color: #f1f2f6;
  box-sizing: border-box;
  width: 558px;
}
